:root {
  --theme-background-color: transparent;
  --theme-body-color: initial;
  --theme-spacer-color: #ccc;
  --theme-link-color: #FF3213;
  --theme-border-color: #CCC;
  --theme-hover-color: #000;
  --theme-hover-border-color: black;
  --theme-name-color: initial;
  --theme-name-hover-bgcolor: #CCC;
  --theme-name-hover-list-bg: #EFEFEF;
  --theme-name-hover-list-box-shadow: rgba(0, 0, 0, 0.4);
  --theme-percent-color: #6b98ff;
  --theme-bar-border-color: #CCC;
  --theme-bar-bgcolor: #FFF;
  --theme-bar-inner-bgcolor: #6b98ff;
  --theme-overlay-span-color: #6b98ff;
  --theme-time-color: #888;
  --theme-h1-bgcolor: #FFF;
  --theme-h1-color: #111;
  --theme-h1-box-shadow: rgba(0, 0, 0, 0.4);
  --theme-footer-color: #333;
  --theme-loading-color: initial;
  --theme-loading-bgcolor: #EFEFEF;
  --theme-loading-border-color: #CCC;
  --theme-no-results-color: #800000;
}