:root {
  --theme-background-color: transparent;
  --theme-body-color: initial;
  --theme-spacer-color: #ccc;
  --theme-link-color: #ff3213;
  --theme-border-color: #ccc;
  --theme-hover-color: #000;
  --theme-hover-border-color: black;
  --theme-name-color: initial;
  --theme-name-hover-bgcolor: #ccc;
  --theme-name-hover-list-bg: #efefef;
  --theme-name-hover-list-box-shadow: rgba(0, 0, 0, 0.4);
  --theme-percent-color: #6b98ff;
  --theme-remapped-color: #d8d8d8;
  --theme-linenumber-color: #949494;
  --theme-bar-border-color: #ccc;
  --theme-bar-bgcolor: #fff;
  --theme-bar-inner-bgcolor: #6b98ff;
  --theme-overlay-span-color: #6b98ff;
  --theme-time-color: #888;
  --theme-img-filter: invert(0%);
  --theme-h1-bgcolor: #fff;
  --theme-h1-color: #111;
  --theme-h1-box-shadow: rgba(0, 0, 0, 0.4);
  --theme-input-bgcolor: inherit;
  --theme-input-border-color: #676161;
  --theme-input-color: #111;
  --theme-footer-color: #333;
  --theme-loading-color: initial;
  --theme-loading-bgcolor: #efefef;
  --theme-loading-border-color: #ccc;
  --theme-no-results-color: #800000;
  --theme-context-menu-bgcolor: #efefef;
  --theme-context-menu-color: #111;
  --theme-context-menu-hover-bgcolor: #ffffff;
}