@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* GLOBAL */
html {
    background-color: #1e2527;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 10pt;
    line-height: 150%;
    margin: 0;
    padding: 54px 20px 20px 20px;
    color: #E0E2E4;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 74px);
}

a:link, a:visited {
    color: #F77669;
    text-decoration: none;
    border-bottom: 1px solid #909090;
}

a:hover, a:active {
    color: #F77669;
    border-color: #ccc;
    text-decoration: none;
}



/* HEADER & FOOTER */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181d1f;
    color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 20px;
    margin: 0;
    font-weight: normal;
    box-shadow: 0 0 4px #130b00;
    z-index: 20;
    line-height: 100%;
    min-width: 500px;
}

#header > #logo {
    display: flex;
    align-items: center;
    background-color: #252b2d;
    border-radius: 6px;
    padding: 3px 5px;
    margin: 3px 0;
    border: 0;
}

#header > #logo > h1 {
    font-size: 14pt;
    margin: 0;
    font-weight: normal;
    color: #fff;
}

#header img {
    filter: invert(0%);
    padding-right: 5px;
}

#footer {
    color: #888;
    margin-top: 50px;
    font-size: 10pt;
    font-weight: normal;
    text-align: right;
}

#intro {
    max-width: 800px;
    margin: 20px auto;
}

#intro > h2 {
    margin-top: 30px;
}


/* STACK VIEW */

#stack {
    margin-left: 20px;
}

#stack ul {
    margin: 0;
    padding: 0 0 0 18px;
}

#stack li {
    margin: 0 0 0 -10px;
    padding: 0;
    list-style: none;
    border-left: 1px solid #3C3F41;
}

#stack li.parent {
    border: 0;
}

#stack .name {
    color: #BCBCBC;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA10lEQVR4Xt2Tu8rCQBSEzzlJmYBvYJ7EShArfQ1BrPNDyoB5DRHsrUQQQc3lcfxBiKbIHjfiCuayKSwEB6ZYPpjdGVhkZvhEJP3dALMMgmB+FoI7ddUQEYhw7bp/48YAkYtOfzCEJu22m5G2gnjeHIYxxHGiXJwV11dQTzdN4w0QKa4JULplGcymkwo4Rkn7iCjNOcNiuVK3vQZ0ug5gWwAgPnpalgW1+yDqA4hQmmSADVVGBW8bES7RaW+zYOBSNSSENL0etAGe5/UkMKBZ/77vv8APfKY7cvZVTt7VqzwAAAAASUVORK5CYII=) center left no-repeat;
    padding-left: 20px;
    cursor: pointer;
}

#stack .name:hover {
    background-color: #2E383E;
}

#stack .name:hover + ul {
    background: #242b2f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

#stack .name.bookmarked {
    box-shadow: inset 0 0 0 100vmax rgba(134, 0, 0, 0.5);
}

#stack .native-part {
    color: #5a5a5a;
}

#stack .package-part {
    color: #5a5a5a;
}

#stack .lambda-part {
    color: #5a5a5a;
}

#stack .lineNumber {
    color: #5f5f5f;
    padding-left: 2px;
}

#stack .remapped {
    background: #293134;
    border-radius: 3px;
    padding: 0 2px;
}

#stack .percent {
    color: #FFCD22;
    font-size: 90%;
    border-radius: 3px;
    padding: 0 6px;
}

#stack .bar {
    display: inline-block;
    width: 100px;
    height: 15px;
    margin-top: 2px;
    margin-left: 20px;
    border: 1px solid #484848;
    position: absolute;
    right: 30px;
    background: #293134;
}

#stack .bar-inner {
    display: inline-block;
    height: 15px;
    background: #E2B671;
}

#stack .time {
    display: none;
    margin: 0;
    color: #888;
    font-size: 90%;
    border-radius: 3px;
    padding: 0 4px;
}

#stack .name:hover .time {
    display: inline;
}

#stack .collapsed .name {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7ElEQVR4Xt1TzYrCQAxOYo8z0GeRZY+eBPGkryGIZ4UeC/Yx/EHvnqTssot/9XF2YUHXQyd2RtuC2OnBg2AgJF/CfJkvwyAzwyNGiT+XwLktBMHwRyl270lDRCDCRb8/aBcSqFi59UYTiuwzXLasEtR18nYbQRTt4f2tqqPGad8uIb2641TyKUSJp307gbH/0wl63U4Ks3y925e/AibOMcN4OofRZKZLOmps6lj2CoBodAohspKUMtePaCcgQqNZCGlw+PFt8nwXWLZE+NttviQrBr6RhoRwOBxXVgLP82pJqECx/fq+n4EX+ExnBI9csQQ1hIoAAAAASUVORK5CYII=);
}

#sampler-overlay span {
    position: absolute;
    color: #E2B671;
    font-size: 90%;
    z-index: 10;
    line-height: 150%;
    left: 20px;
    width: 50px;
    text-align: right;
}

#sampler-overlay span.bookmarked {
    color: #da0b00;
}



/* HEAP VIEW */

#heap-content {
    font-size: 1.1em;
}

#heap-content td:nth-child(1),
#heap-content td:nth-child(2),
#heap-content td:nth-child(3) {
    white-space: nowrap;
}



/* MISC (shared elements) */

select, input {
    font-family: 'JetBrains Mono', monospace;
    background-color: #252b2d;
    border-style: none;
    color: #ccc;
    border-radius: 6px;
    padding: 5px;
}

select:focus, input:focus {
    outline: none;
}

/* applies to #loading and #metadata */
.banner-notice {
    font-size: 130%;
    letter-spacing: -1px;
    color: #b5b5b5;
    background: #252b2d;
    padding: 8px;
    margin: 12px 0;
    border-radius: 6px;
}

#metadata-and-search {
    display: flex;
    justify-content: space-between;
}

#metadata {
    width: 100%;
}

#metadata summary {
    cursor: pointer;
}

#metadata summary:focus {
    outline: none;
}

#metadata img {
    vertical-align: top;
}

.searchbar {
    padding: 8px 8px 8px 28px;
    margin: 12px 0 12px 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLXNlYXJjaCBmYS13LTE2IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjxwYXRoIGZpbGw9IiNiNWI1YjUiIGQ9Ik01MDUgNDQyLjdMNDA1LjMgMzQzYy00LjUtNC41LTEwLjYtNy0xNy03SDM3MmMyNy42LTM1LjMgNDQtNzkuNyA0NC0xMjhDNDE2IDkzLjEgMzIyLjkgMCAyMDggMFMwIDkzLjEgMCAyMDhzOTMuMSAyMDggMjA4IDIwOGM0OC4zIDAgOTIuNy0xNi40IDEyOC00NHYxNi4zYzAgNi40IDIuNSAxMi41IDcgMTdsOTkuNyA5OS43YzkuNCA5LjQgMjQuNiA5LjQgMzMuOSAwbDI4LjMtMjguM2M5LjQtOS40IDkuNC0yNC42LjEtMzR6TTIwOCAzMzZjLTcwLjcgMC0xMjgtNTcuMi0xMjgtMTI4IDAtNzAuNyA1Ny4yLTEyOCAxMjgtMTI4IDcwLjcgMCAxMjggNTcuMiAxMjggMTI4IDAgNzAuNy01Ny4yIDEyOC0xMjggMTI4eiI+PC9wYXRoPjwvc3ZnPg==); 
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 15px;
    width: 240px;
}

.no-results {
    font-size: 130%;
    color: #800000;
}


/* CONTEXT MENU */
/*
.context-menu {
    display: block;
    max-width: 200px;
    min-width: 200px;
    background-color: #181d1f;
    position: absolute;
    padding: 5px 0;
    z-index: 999999999;
    box-shadow: 0 2px 6px rgba(0,0,0,.5)
}

.context-menu ul {
    list-style: none;
    padding: 0 5px;
    margin: 0;
}

.context-menu ul > li {
    display: block;
    padding: 3px;
    list-style: none;
    color: #ccc;
    cursor: default;
}

.context-menu ul > li:hover {
    background-color: #2E383E;
}
*/