@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* GLOBAL */
html {
    background-color: #1e2527;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10pt;
    line-height: 150%;
    margin: 0;
    padding: 54px 20px 20px 20px;
    color: #E0E2E4;
}

a:link, a:visited {
    color: #F77669;
    text-decoration: none;
    border-bottom: 1px solid #909090;
}

a:hover, a:active {
    color: #F77669;
    border-color: #ccc;
    text-decoration: none;
}

h1 {
    font-size: 14pt;
    margin: 0;
    font-weight: normal;
    vertical-align: middle;
    display: unset;
}



/* HEADER & FOOTER */

#header {
    display: block;
    background: #181d1f;
    color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 20px;
    margin: 0;
    font-weight: normal;
    box-shadow: 0 0 4px #130b00;
    z-index: 20;
    line-height: 100%;
    min-width: 500px;
}

#header > .section {
    vertical-align: 70%;
    padding: 0 3px 0 3px;
    display: inline-block;
}

#header img {
    filter: invert(0%);
}

#footer {
    /*background: var(--theme-footer-bgcolor);*/
    color: #888;
    margin: 100px 0 0 0;
    font-size: 10pt;
    font-weight: normal;
    text-align: right;
}



/* STACK VIEW */

#stack {
    margin-left: 60px;
    padding-top: 30px;
}

#stack ul {
    margin: 0;
    padding: 0 0 0 18px;
}

#stack li {
    margin: 0 0 0 -10px;
    padding: 0;
    list-style: none;
    border-left: 1px solid #3C3F41;
}

#stack li.parent {
    border: 0;
}

#stack .name {
    color: #BCBCBC;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA10lEQVR4Xt2Tu8rCQBSEzzlJmYBvYJ7EShArfQ1BrPNDyoB5DRHsrUQQQc3lcfxBiKbIHjfiCuayKSwEB6ZYPpjdGVhkZvhEJP3dALMMgmB+FoI7ddUQEYhw7bp/48YAkYtOfzCEJu22m5G2gnjeHIYxxHGiXJwV11dQTzdN4w0QKa4JULplGcymkwo4Rkn7iCjNOcNiuVK3vQZ0ug5gWwAgPnpalgW1+yDqA4hQmmSADVVGBW8bES7RaW+zYOBSNSSENL0etAGe5/UkMKBZ/77vv8APfKY7cvZVTt7VqzwAAAAASUVORK5CYII=) center left no-repeat;
    padding-left: 20px;
    cursor: pointer;
}

#stack .name:hover {
    background-color: #2E383E;
}

#stack .name:hover + ul {
    background: #242b2f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

#stack .name.bookmarked {
    box-shadow: inset 0 0 0 100vmax rgba(134, 0, 0, 0.5);
}

#stack .native-part {
    color: #5a5a5a;
}

#stack .package-part {
    color: #5a5a5a;
}

#stack .lambda-part {
    color: #5a5a5a;
}

#stack .lineNumber {
    color: #5f5f5f;
    padding-left: 2px;
}

#stack .remapped {
    background: #293134;
    border-radius: 3px;
    padding: 0 4px;
}

#stack .percent {
    color: #FFCD22;
    font-size: 90%;
    border-radius: 3px;
    padding: 0 4px;
}

#stack .bar {
    display: inline-block;
    width: 100px;
    height: 15px;
    margin-top: 2px;
    margin-left: 20px;
    border: 1px solid #484848;
    position: absolute;
    right: 30px;
    background: #293134;
}

#stack .bar-inner {
    display: inline-block;
    height: 15px;
    background: #E2B671;
}

#stack .time {
    display: none;
    margin: 0;
    color: #888;
    font-size: 90%;
    border-radius: 3px;
    padding: 0 4px;
}

#stack .name:hover .time {
    display: inline;
}

#stack .collapsed .name {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7ElEQVR4Xt1TzYrCQAxOYo8z0GeRZY+eBPGkryGIZ4UeC/Yx/EHvnqTssot/9XF2YUHXQyd2RtuC2OnBg2AgJF/CfJkvwyAzwyNGiT+XwLktBMHwRyl270lDRCDCRb8/aBcSqFi59UYTiuwzXLasEtR18nYbQRTt4f2tqqPGad8uIb2641TyKUSJp307gbH/0wl63U4Ks3y925e/AibOMcN4OofRZKZLOmps6lj2CoBodAohspKUMtePaCcgQqNZCGlw+PFt8nwXWLZE+NttviQrBr6RhoRwOBxXVgLP82pJqECx/fq+n4EX+ExnBI9csQQ1hIoAAAAASUVORK5CYII=);
}

#sampler-overlay span {
    position: absolute;
    color: #E2B671;
    font-size: 90%;
    z-index: 10;
    line-height: 150%;
    left: 20px;
    width: 50px;
    text-align: right;
}

#sampler-overlay span.bookmarked {
    color: #da0b00;
}



/* HEAP VIEW */

#heap-content {
    font-size: 1.1em;
}

#heap-content td:nth-child(1),
#heap-content td:nth-child(2),
#heap-content td:nth-child(3) {
    white-space: nowrap;
}



/* MISC (shared elements) */

.dropdown {
    float: right;
    padding-right: 15px;
}

.dropdown > select {
    background-color: #252b2d;
    border-color: #676161;
    color: #ccc;
    border-radius: 3px;
    padding: 3px;
    margin-top: 5px;
}

.dropdown >select:focus {
    outline: none;
}

#loading {
    font-size: 130%;
    color: #b5b5b5;
    background: #252b2d;
    border: 1px solid #676161;
    padding: 8px;
    border-radius: 3px;
}

#metadata {
    font-size: 130%;
    color: #b5b5b5;
    background: #252b2d;
    padding: 8px;
    margin-bottom: 10px;
}

#metadata summary {
    cursor: pointer;
}

#metadata summary:focus {
    outline: none;
}

#metadata img {
    vertical-align: top;
    padding-left: 5px;
}

.no-results {
    font-size: 130%;
    color: #800000;
}

.filter-input-box {
    float: right;
    width: 350px;
    background-color: #252b2d;
    border: 1px solid #676161;
    color: #ccc;
    font-size: 14px;
}



/* CONTEXT MENU */

.context-menu {
    display: block;
    max-width: 200px;
    min-width: 200px;
    background-color: #181d1f;
    position: absolute;
    padding: 5px 0;
    z-index: 999999999;
    box-shadow: 0 2px 6px rgba(0,0,0,.5)
}

.context-menu ul {
    list-style: none;
    padding: 0 5px;
    margin: 0;
}

.context-menu ul > li {
    display: block;
    padding: 3px;
    list-style: none;
    color: #ccc;
    cursor: default;
}

.context-menu ul > li:hover {
    background-color: #2E383E;
}
