.downloads {
    h2 {
        font-size: 25px;
        padding-top: 25px;
    }

    :global {
        .version-number {
            color: var(--clr-text-red);
            font-weight: bold;
            font-size: larger;
        }

        .less-important {
            color: #888;
        }

        .download-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: space-evenly;
        }

        .link {
            width: 250px;

            img {
                height: 50px;
                filter: saturate(20%);
            }

            &:hover {
                img {
                    filter: none;
                }
            }

            .link-name {
                text-align: right;

                h3 {
                    margin: 10px 0;
                }

                span {
                    color: #888;
                    font-size: 75%;
                }
            }

            .link-description {
                width: 250px;
            }
        }

        .older-versions {
            display: flex;
            gap: 35px;

            h3 {
                margin-bottom: 0;
            }

            > div {
                flex-grow: 1;
            }

            li {
                padding: 2px 0;
            }
        }
    }
}
