.homepage {
    section {
        background-color: #252b2d;
        border-radius: 5px;
        margin: 25px 0;
        padding: 0.1px 15px;
    }

    :global {
        .link {
            .link-description {
                width: 17.5rem;
                font-weight: normal;
            }

            .link-title h3 {
                color: #e0e2e4;
                font-size: 2rem;
            }

            @media (max-width: 640px) {
                flex-direction: column;
                align-items: start;
                height: auto;
                padding-bottom: 0.75rem;
                gap: 0.5rem;

                .link-description {
                    width: auto;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .feature {
            display: flex;
            gap: 20px;
            padding-left: 20px;
            margin: 30px 0;

            > svg {
                font-size: 70px;
                margin: auto 0;
                color: #7e7e7e;
            }

            > div {
                max-width: 70%;

                h3 {
                    margin: 0;
                    color: #ffc93a;
                }
            }
        }
    }
}

.file-picker {
    text-align: center;
    cursor: pointer;
    border: 2px dashed;

    em {
        font-size: 60%;
    }
}
