.metadata {
    :global {
        .expanded {
            max-width: 1900px;
            margin: auto;
        }

        .metadata-detail {
            margin-top: 0;

            p {
                margin: 0;

                span {
                    color: #fff;
                }
            }

            .metadata-detail-controls {
                padding: 0;
                margin: 10px 0 30px 0;

                li {
                    list-style-type: none;
                    display: inline;
                    cursor: pointer;
                    margin: 0 3px;
                    background-color: #293134;
                    padding: 7px 15px;
                    border-radius: 5px;

                    &.selected {
                        color: #fff;
                    }
                }
            }

            .metadata-detail-content > p,
            .metadata-detail-content > .configurations > p,
            .metadata-detail-content > .gamerules > p {
                margin: 0 5px;
            }

            .configurations {
                ul {
                    padding-left: 20px;
                    ul {
                        border-left: 1px solid #3c3f41;
                    }
                }

                li {
                    list-style: none;
                }

                .type-string {
                    color: #f7df97;
                }
                .type-boolean {
                    color: #78e6ff;
                }
                .type-number {
                    color: #9bffa2;
                }
            }

            .gamerules {
                h2 {
                    margin-bottom: 2px;
                }
                span {
                    color: #888;
                }
                button {
                    background-color: #293134;
                    margin: 15px 0;
                }
                .value-true {
                    color: #9bffa2;
                }
                .value-false {
                    color: #fa7f95;
                }
                .value-number {
                    color: #78e6ff;
                }
                .value-string {
                    color: #f7df97;
                }
            }

            .entity-counts {
                display: flex;
                justify-content: space-between;
                column-gap: 20px;
                margin: 0 5px;

                > div {
                    width: 100%;
                }

                .header {
                    background-color: #293134;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;
                    margin-bottom: 10px;

                    &.region-selector {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .button {
                    cursor: pointer;
                    user-select: none;
                    padding: 0 5px;
                }

                .detail-lists {
                    display: flex;
                    justify-content: space-between;

                    > div {
                        width: 100%;
                        margin: 0 10px;
                    }

                    ul {
                        margin-top: 5px;
                        list-style-type: none;
                        padding-left: 15px;
                    }

                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
}
