.metadata {
    :global {
        .expanded {
            max-width: 1900px;
            margin: auto;
        }

        .metadata-detail {
            margin-top: 0;

            p {
                margin: 0;

                span {
                    color: #fff;
                }
            }

            .metadata-detail-controls {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                padding: 0;
                margin-bottom: 30px;

                > div {
                    cursor: pointer;
                    background-color: #293134;

                    padding: 10px;
                    border-radius: 5px;

                    &.toggled {
                        color: #fff;
                        box-shadow: inset 0 -3px 0 #3c3f41;
                    }
                }
            }

            .metadata-detail-content > p,
            .metadata-detail-content > .configurations > p,
            .metadata-detail-content > .gamerules > p {
                margin: 0 5px;
            }

            .memory {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .memory-pool {
                    background-color: #293134;
                    padding: 5px;
                    border-radius: 5px;
                }

                .header {
                    text-align: center;
                    margin-bottom: 10px;
                    color: #fff;
                }

                .usage-bar {
                    height: 20px;
                    width: 500px;
                    border: 3px solid #252b2d;
                    display: flex;
                    background-color: #252b2d;

                    > div {
                        background-color: #b5b5b5;
                    }
                }

                ul {
                    li {
                        list-style: none;

                        span {
                            color: #fff;
                        }
                    }
                }
            }

            .configurations {
                ul {
                    padding-left: 20px;
                    ul {
                        border-left: 1px solid #3c3f41;
                    }
                }

                li {
                    list-style: none;
                }

                .type-string {
                    color: #f7df97;
                }
                .type-boolean {
                    color: #78e6ff;
                }
                .type-number {
                    color: #9bffa2;
                }
            }

            .gamerules {
                h2 {
                    margin-bottom: 2px;
                }
                span {
                    color: #888;
                }
                button {
                    background-color: #293134;
                    margin: 15px 0;
                }
                .value-true {
                    color: #9bffa2;
                }
                .value-false {
                    color: #fa7f95;
                }
                .value-number {
                    color: #78e6ff;
                }
                .value-string {
                    color: #f7df97;
                }
            }

            .plugins-mods-list {
                h2 {
                    margin-bottom: 2px;
                }
                li {
                    margin: 10px 0;
                }
                .darker {
                    color: #888;
                }
                .title {
                    color: #fff;
                }
            }

            .entity-counts {
                display: flex;
                justify-content: space-between;
                column-gap: 20px;
                margin: 0 5px;

                > div {
                    width: 100%;
                }

                .header {
                    background-color: #293134;
                    text-align: center;
                    padding: 5px;
                    border-radius: 5px;
                    margin-bottom: 10px;

                    &.region-selector {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .button {
                    cursor: pointer;
                    user-select: none;
                    padding: 0 5px;
                }

                .detail-lists {
                    display: flex;
                    justify-content: space-between;

                    > div {
                        width: 100%;
                        margin: 0 10px;
                    }

                    ul {
                        margin-top: 5px;
                        list-style-type: none;
                        padding-left: 15px;
                    }

                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
}
