header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #181d1f;
    color: #ccc;
    padding: 5px 20px;
    margin: 0;
    font-weight: normal;
    box-shadow: 0 0 4px #130b00;
    z-index: 20;
    line-height: 100%;

    > .logo {
        display: flex;
        align-items: center;
        background-color: #252b2d;
        border-radius: 5px;
        padding: 3px 5px 3px 3px;
        margin: 3px 0;
        border: 0;

        > h1 {
            padding: 0 3px;
            font-size: 14pt;
            margin: 0;
            font-weight: normal;
            color: #fff;
        }
    }

    img {
        filter: invert(0%);
        padding-right: 5px;
    }
}

footer {
    color: #888;
    margin-top: 30px;
    padding: 0 20px 20px 20px;
    font-size: 10pt;
    font-weight: normal;
    text-align: right;
}

article {
    max-width: 900px;
    margin: 20px auto;
    font-size: 120%;

    h1::before,
    h2::before {
        content: '# ';
        color: #ffc93a;
    }
}

.homepage-header {
    background: #181d1f;
    display: flex;
    justify-content: center;

    > div {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        max-width: 900px;
        padding: 50px 0;

        > img {
            width: 25%;
        }

        > div {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            > h1 {
                font-size: min(15vw, 150px);
                line-height: 1em;
                margin: 0;
                margin-bottom: 15px;
            }

            > div {
                font-size: min(2vw, 20px);
                line-height: 1.1;
            }
        }
    }
}

.homepage {
    .link {
        height: 75px;

        .link-description {
            width: 280px;
            font-weight: normal;
        }
    }

    section {
        background-color: #252b2d;
        border-radius: 15px;
        margin: 25px 0;
        padding: 0.1px 15px;
    }

    .feature {
        display: flex;
        gap: 20px;
        padding-left: 20px;
        margin: 30px 0;

        > svg {
            font-size: 70px;
            margin: auto 0;
            color: #7e7e7e;
        }

        > div {
            max-width: 70%;

            h3 {
                margin: 0;
                color: #ffc93a;
            }
        }
    }
}

.downloads {
    .version-number {
        color: #f77669;
        font-weight: bold;
        font-size: larger;
    }

    h3 > span {
        color: #888;
        font-size: 75%;
    }

    .link-description {
        width: 250px;
    }
}

.link {
    background-color: #252b2d;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    height: 95px;
    margin: 10px 0;
    padding: 0 15px;

    &:link,
    &:visited {
        border-bottom: none;
        color: #ccc;
    }

    &:hover {
        background-color: rgba(155, 155, 155, 0.1);
    }

    .link-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;

        font-size: 150%;

        svg {
            color: #f77669;
            font-size: 40px;
        }
    }

    .link-description {
        color: #7e7e7e;

        code {
            color: #ccc;
        }
    }
}

.file-picker {
    text-align: center;
    cursor: pointer;
    border: 2px dashed;

    em {
        font-size: 60%;
    }
}
