.sampler {
    .stack {
        margin-top: 20px;
        margin-left: 20px;

        ul {
            margin: 0;
            padding: 0 0 0 20px;
        }

        li {
            margin: 0 0 0 -10px;
            padding: 0;
            list-style: none;
            border-left: 1px solid #3c3f41;

            &.parent {
                border: 0;
            }
        }

        .name {
            color: #bcbcbc;
            background: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjYjViNWI1IiBkPSJNNDQ4IDgwdjM1MmMwIDI2LjUtMjEuNSA0OC00OCA0OEg0OGMtMjYuNSAwLTQ4LTIxLjUtNDgtNDhWODBjMC0yNi41IDIxLjUtNDggNDgtNDhoMzUyYzI2LjUgMCA0OCAyMS41IDQ4IDQ4ek05Mi41IDIyMC41bDEyMyAxMjNjNC43IDQuNyAxMi4zIDQuNyAxNyAwbDEyMy0xMjNjNy42LTcuNiAyLjItMjAuNS04LjUtMjAuNUgxMDFjLTEwLjcgMC0xNi4xIDEyLjktOC41IDIwLjV6Ij48L3BhdGg+PC9zdmc+)
                center left no-repeat;
            padding-left: 20px;
            cursor: pointer;
            background-size: 8px;
            background-position: 6px 50%;

            &:hover {
                background-color: #2e383e;

                .time {
                    display: inline;
                }
            }

            &:hover + ul {
                background: #242b2f;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                border-radius: 3px;
            }

            &.bookmarked {
                box-shadow: inset 0 0 0 100vmax rgba(134, 0, 0, 0.5);
            }
        }

        .collapsed .name {
            background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjYjViNWI1IiBkPSJNNDggMzJoMzUyYzI2LjUxIDAgNDggMjEuNDkgNDggNDh2MzUyYzAgMjYuNTEtMjEuNDkgNDgtNDggNDhINDhjLTI2LjUxIDAtNDgtMjEuNDktNDgtNDhWODBjMC0yNi41MSAyMS40OS00OCA0OC00OHptMTQwLjQ4NSAzNTUuNTE1bDEyMy4wMjktMTIzLjAyOWM0LjY4Ni00LjY4NiA0LjY4Ni0xMi4yODQgMC0xNi45NzFsLTEyMy4wMjktMTIzLjAzYy03LjU2LTcuNTYtMjAuNDg1LTIuMjA2LTIwLjQ4NSA4LjQ4NXYyNDYuMDU5YzAgMTAuNjkxIDEyLjkyNiAxNi4wNDUgMjAuNDg1IDguNDg2eiI+PC9wYXRoPjwvc3ZnPg==);
        }

        .native-part {
            color: #5a5a5a;
        }

        .package-part {
            color: #5a5a5a;
        }

        .lambda-part {
            color: #5a5a5a;
        }

        .lineNumber {
            color: #5f5f5f;
            padding-left: 2px;
        }

        .remapped {
            background: #293134;
            border-radius: 3px;
            padding: 0 2px;
        }

        .percent {
            color: #ffcd22;
            font-size: 90%;
            border-radius: 3px;
            padding: 0 6px;
        }

        .bar {
            display: inline-block;
            width: 100px;
            height: 15px;
            margin-top: 2px;
            margin-left: 20px;
            border: 1px solid #484848;
            position: absolute;
            right: 30px;
            background: #293134;

            .inner {
                display: inline-block;
                height: 15px;
                background: #e2b671;
            }
        }

        h2 > .time {
            display: initial;
            font-size: 100%;
        }

        .time {
            display: none;
            margin: 0;
            color: #888;
            font-size: 90%;
            border-radius: 3px;
            padding: 0 4px;
        }
    }

    .sourceview > .header {
        margin: 0 10px;
        max-width: 1000px;
    }

    .flame {
        background-color: #252b2d;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 0.5rem;

        > div > div {
            overflow-x: clip !important;
            overflow-y: auto !important;
        }

        /* this feels a bit hacky but I'm not sure the correct way to override this */
        .LabeledRect_div__3RSFb {
            font-family: 'JetBrains Mono', monospace !important;
        }

        .LabeledRect_rect__11W7H {
            stroke: #181d1f !important;
        }
    }

    .searchbar {
        padding: 8px 8px 8px 28px;
        margin: 12px 0;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYjViNWI1IiBkPSJNNTA1IDQ0Mi43TDQwNS4zIDM0M2MtNC41LTQuNS0xMC42LTctMTctN0gzNzJjMjcuNi0zNS4zIDQ0LTc5LjcgNDQtMTI4QzQxNiA5My4xIDMyMi45IDAgMjA4IDBTMCA5My4xIDAgMjA4czkzLjEgMjA4IDIwOCAyMDhjNDguMyAwIDkyLjctMTYuNCAxMjgtNDR2MTYuM2MwIDYuNCAyLjUgMTIuNSA3IDE3bDk5LjcgOTkuN2M5LjQgOS40IDI0LjYgOS40IDMzLjkgMGwyOC4zLTI4LjNjOS40LTkuNCA5LjQtMjQuNi4xLTM0ek0yMDggMzM2Yy03MC43IDAtMTI4LTU3LjItMTI4LTEyOCAwLTcwLjcgNTcuMi0xMjggMTI4LTEyOCA3MC43IDAgMTI4IDU3LjIgMTI4IDEyOCAwIDcwLjctNTcuMiAxMjgtMTI4IDEyOHoiPjwvcGF0aD48L3N2Zz4=);
        background-repeat: no-repeat;
        background-position: 8px;
        background-size: 15px;
        width: 240px;
    }

    .no-results {
        font-size: 130%;
        color: #800000;
    }
}

.react-contexify {
    background-color: #181d1f !important;
}
