// FIXME
//html {
//   min-width: min-content;
//}

.sampler {
    :global {
        .stack {
            margin-top: 20px;
            padding-left: 10px;

            ul {
                margin: 0;
                padding: 0 0 0 20px;
            }

            li {
                margin: 0 0 0 -10px;
                padding: 0;
                list-style: none;
                border-left: 1px solid #3c3f41;

                &.parent {
                    border: 0;
                }
            }

            .node-info {
                display: flex;
                width: 100%;
                justify-content: space-between;
                cursor: pointer;

                .time {
                    display: none;
                    position: absolute;
                    color: #888;
                    font-size: 90%;
                    padding: 0 4px;
                    white-space: normal;
                }

                &:hover {
                    background-color: #2e383e;

                    .time {
                        display: inline;
                    }
                }

                &:hover + ul {
                    background: #242b2f;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                    border-radius: 3px;
                }

                &.bookmarked {
                    box-shadow: inset 0 0 0 100vmax rgba(134, 0, 0, 0.5);
                }
            }

            .name {
                color: #bcbcbc;
                background: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjYjViNWI1IiBkPSJNNDQ4IDgwdjM1MmMwIDI2LjUtMjEuNSA0OC00OCA0OEg0OGMtMjYuNSAwLTQ4LTIxLjUtNDgtNDhWODBjMC0yNi41IDIxLjUtNDggNDgtNDhoMzUyYzI2LjUgMCA0OCAyMS41IDQ4IDQ4ek05Mi41IDIyMC41bDEyMyAxMjNjNC43IDQuNyAxMi4zIDQuNyAxNyAwbDEyMy0xMjNjNy42LTcuNiAyLjItMjAuNS04LjUtMjAuNUgxMDFjLTEwLjcgMC0xNi4xIDEyLjktOC41IDIwLjV6Ij48L3BhdGg+PC9zdmc+)
                    center left no-repeat;
                background-size: 8px;
                background-position: 6px 50%;
                padding-left: 20px;
                white-space: nowrap;
            }

            .collapsed .name {
                background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjYjViNWI1IiBkPSJNNDggMzJoMzUyYzI2LjUxIDAgNDggMjEuNDkgNDggNDh2MzUyYzAgMjYuNTEtMjEuNDkgNDgtNDggNDhINDhjLTI2LjUxIDAtNDgtMjEuNDktNDgtNDhWODBjMC0yNi41MSAyMS40OS00OCA0OC00OHptMTQwLjQ4NSAzNTUuNTE1bDEyMy4wMjktMTIzLjAyOWM0LjY4Ni00LjY4NiA0LjY4Ni0xMi4yODQgMC0xNi45NzFsLTEyMy4wMjktMTIzLjAzYy03LjU2LTcuNTYtMjAuNDg1LTIuMjA2LTIwLjQ4NSA4LjQ4NXYyNDYuMDU5YzAgMTAuNjkxIDEyLjkyNiAxNi4wNDUgMjAuNDg1IDguNDg2eiI+PC9wYXRoPjwvc3ZnPg==);
            }

            .native-part {
                color: #5a5a5a;
            }

            .package-part {
                color: #5a5a5a;
            }

            .lambda-part {
                color: #5a5a5a;
            }

            .lineNumber {
                color: #5f5f5f;
                padding-left: 2px;
            }

            .remapped {
                background: #293134;
                border-radius: 3px;
                padding: 0 2px;
            }

            .percent {
                color: #ffcd22;
                font-size: 90%;
                border-radius: 3px;
                padding: 0 6px;
            }

            .bar {
                display: block;
                min-width: 100px;
                height: 15px;
                margin-top: 2px;
                margin-left: 20px;
                border: 1px solid #484848;
                background: #293134;

                .inner {
                    display: inline-block;
                    height: 15px;
                    background: #e2b671;
                }

                @media screen and (max-width: 880px) {
                    display: none !important;
                }
            }
        }

        .sourceview {
            .stack {
                margin-bottom: 40px;

                > li {
                    margin-left: 10px;
                }

                > h2 > span {
                    font-size: 100%;
                    color: #888;
                }
            }

            .other-sources {
                padding-left: 10px;

                li > span {
                    color: #888;
                }
            }
        }

        .graph > .header,
        .allview > .header,
        .flatview > .header,
        .sourceview > .header {
            margin: 0 10px;
            max-width: 1000px;
            font-size: 16px;

            .button {
                margin-left: 20px;
                margin-bottom: 20px;

                button {
                    font-size: 16px;
                    padding-left: 10px;
                    padding-right: 10px;

                    span {
                        color: #ffc93a;
                    }
                }

                p {
                    margin: 5px 0;
                    font-weight: 300;
                    font-size: 14px;
                    color: #b5b5b5;
                }
            }
        }

        .flame {
            background-color: #252b2d;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 0.5rem;

            > div > div {
                overflow-x: clip !important;
                overflow-y: auto !important;
            }

            /* this feels a bit hacky but I'm not sure the correct way to override this */
            .LabeledRect_div__3RSFb {
                font-family: 'JetBrains Mono', monospace !important;
            }

            .LabeledRect_rect__11W7H {
                stroke: #181d1f !important;
            }
        }

        .graph {
            .VictoryContainer {
                max-width: 1500px;
                margin: 0 auto;
            }

            .legend {
                max-width: 1500px;
                margin: 0 auto 10px;
                display: flex;
                gap: 10px;
                justify-content: center;
                flex-wrap: wrap;

                .button {
                    width: 150px;
                    margin: 0;
                    cursor: pointer;
                    user-select: none;
                    text-align: center;

                    &.toggled {
                        font-weight: bold;
                        box-shadow: inset 0 -4px 0 #3c3f41;
                    }
                }
            }
        }

        .no-results {
            font-size: 130%;
            color: #800000;
        }

        .react-contexify {
            background-color: #181d1f !important;
        }
    }
}

.version-warning {
    color: orange;
    text-align: center;

    > svg {
        float: right;
        padding: 10px;
        color: #b5b5b5;
        cursor: pointer;
    }
}

.socket-info {
    text-align: center;
}
