.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #252b2d;
        transition: 0.4s;
        border-radius: 5px;

        &:before {
            position: absolute;
            content: '';
            height: 22px;
            width: 22px;
            left: 3px;
            bottom: 3px;
            background-color: #b5b5b5;
            transition: 0.4s;
            border-radius: 3px;
        }
    }

    //input:checked + .slider {
    //  background-color: #ffc93a;
    //}

    //input:focus + .slider {
    //  box-shadow: 0 0 1px #ffc93a;
    //}

    input:checked + .slider:before {
        transform: translateX(22px);
        background-color: #ffc93a;
    }
}
