.controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;

    flex-basis: 1;

    .text-box {
        padding: 0;
        margin: 0;
    }

    > div,
    > input {
        flex-grow: 1;
        flex-shrink: 1;
        height: 40px;
    }

    .button {
        max-width: 40px;
        width: 40px;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
            padding: 0 5px;
        }
    }

    .sources-view-button {
        justify-content: space-around;
        column-gap: 10px;
        max-width: 150px;
        width: unset;
        padding: 0 3px;
    }

    .title {
        text-align: center;
        flex-grow: 2;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        flex-direction: column;

        min-height: 40px;
        height: fit-content;

        > span {
            padding: 5px;
        }

        img {
            vertical-align: top;
            padding-right: 3px;
        }
    }

    .searchbar {
        flex-grow: 2;
        padding: 0 0 0 28px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYjViNWI1IiBkPSJNNTA1IDQ0Mi43TDQwNS4zIDM0M2MtNC41LTQuNS0xMC42LTctMTctN0gzNzJjMjcuNi0zNS4zIDQ0LTc5LjcgNDQtMTI4QzQxNiA5My4xIDMyMi45IDAgMjA4IDBTMCA5My4xIDAgMjA4czkzLjEgMjA4IDIwOCAyMDhjNDguMyAwIDkyLjctMTYuNCAxMjgtNDR2MTYuM2MwIDYuNCAyLjUgMTIuNSA3IDE3bDk5LjcgOTkuN2M5LjQgOS40IDI0LjYgOS40IDMzLjkgMGwyOC4zLTI4LjNjOS40LTkuNCA5LjQtMjQuNi4xLTM0ek0yMDggMzM2Yy03MC43IDAtMTI4LTU3LjItMTI4LTEyOCAwLTcwLjcgNTcuMi0xMjggMTI4LTEyOCA3MC43IDAgMTI4IDU3LjIgMTI4IDEyOCAwIDcwLjctNTcuMiAxMjgtMTI4IDEyOHoiPjwvcGF0aD48L3N2Zz4=);
        background-repeat: no-repeat;
        background-position: 8px;
        background-size: 15px;
    }
}

.metadata {
    &.expanded {
        max-width: 1900px;
        margin: auto;
    }

    .metadata-detail {
        margin-top: 0;

        p {
            margin: 0;

            span {
                color: #fff;
            }
        }

        .configurations {
            ul {
                padding-left: 20px;
                ul {
                    border-left: 1px solid #3c3f41;
                }
            }

            li {
                list-style: none;
            }

            .type-string {
                color: #f7df97;
            }
            .type-boolean {
                color: #78e6ff;
            }
            .type-number {
                color: #9bffa2;
            }
        }
    }
}

.version-warning {
    color: orange;
    text-align: center;

    > svg {
        float: right;
        padding: 10px;
        color: #b5b5b5;
        cursor: pointer;
    }
}

.widgets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;

    &.hide .widget:nth-child(n + 6) {
        display: none;
    }

    @media screen and (max-width: 1450px) {
        &.hide .widget:nth-child(n + 5) {
            display: none;
        }
    }

    @media screen and (max-width: 1160px) {
        &.hide .widget:nth-child(n + 4) {
            display: none;
        }
    }

    @media screen and (max-width: 880px) {
        &.hide .widget:nth-child(n + 3) {
            display: none;
        }
    }

    .widget {
        color: #b5b5b5;
        background: #252b2d;
        padding: 2px 5px;
        border-radius: 6px;
        width: 260px;
        max-width: 340px;
        flex-grow: 1;

        h1 {
            margin: 0;
            padding-top: 5px;
            padding-bottom: 8px;
            font-size: 13pt;
            font-weight: normal;
            color: #fff;
            text-align: center;

            span {
                vertical-align: middle;
                padding-left: 6px;
                font-size: 11pt;
                color: #b5b5b5;
            }
        }

        .widget-values {
            display: flex;
        }

        .widget-value {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            text-align: center;

            div:nth-child(1) {
                font-size: 16pt;
            }

            div:nth-child(2) {
                color: #b5b5b5;
            }
        }

        .widget-single-value {
            display: flex;
            justify-content: center;

            span:nth-child(2) {
                color: #b5b5b5;
                padding: 0 5px;
            }

            span:nth-child(1) {
                text-align: right;
            }

            span:nth-child(3) {
                text-align: left;
            }

            span:nth-child(2n-1) {
                flex-grow: 100;
                flex-basis: 0;
            }
        }
    }
}
